@model List<ImdbEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ImdbEntity[] col1 = new ImdbEntity[12];
    int pos = 0;
    foreach (var item in Model)
    {
        if (pos <= 9)
        {
            col1[pos] = item;
            pos++;
        }
    }

    string targetLanguage = Environment.GetEnvironmentVariable("TARGET_LANGUAGE");
    string sourceLanguage = null; // automatically detected
    //var client = Google.Cloud.Translation.V2.TranslationClient.Create();


}
<form class="col-md-12" method="get" action="@Url.Action("Index", "Home")" style="margin-top: 10px">
    <input class="col-md-12" type="text" name="search" id="search" placeholder="Rechercher : " />
    <button style="visibility:hidden" type="submit" id="searchButton">@* @System.Web.HttpUtility.HtmlDecode(@client.TranslateHtml(" *@Rechercher@* ", targetLanguage, sourceLanguage).TranslatedText) *@</button>
</form>
@if (Model.Count != 0)
{
    @for (int i = 0; i < 3; i++)
    {
        <div class="card-deck">
            @*<div class="container row col-md-12" id="FilmIndex">*@
            @for (int i1 = 0; i1 < 4; i1++)
            {
                if (@col1[((i * 4) + i1)] != null)
                {
                    <div class="card col-md-3">
                        <img class="col-md-6 img-fluid" style="margin-left : auto; margin-right : auto;" src="@col1[((i * 4) + i1)].Poster" alt="Card image cap" onerror="this.onerror=null;this.src='https://us.123rf.com/450wm/pavelstasevich/pavelstasevich1811/pavelstasevich181101065/112815953-stock-vector-no-image-available-icon-flat-vector.jpg?ver=6';">
                        <div class="card-footer" style="margin-top : 4px">
                            <p class="card-text"><span class="notranslate">@* @System.Web.HttpUtility.HtmlDecode(@client.TranslateHtml( *@ @col1[((i * 4) + i1)].Title @*  , targetLanguage, sourceLanguage).TranslatedText) *@ </span></p>
                            <form method="post">
                                <button class="rounded float-right" asp-action="Details" asp-route-imdbID="@col1[((i * 4) + i1)].imdbID">@* @System.Web.HttpUtility.HtmlDecode(@client.TranslateHtml(" *@Détails@* ", targetLanguage, sourceLanguage).TranslatedText) *@</button>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
        <br>
    }
    <div class="container row col-md-12 center">
        @if (ViewData["PreviousPage"] != null)
        {
            <a style="margin-right:1em" asp-controller="Home" asp-action="Index" asp-route-search=@ViewData["search"] asp-route-page=@ViewData["PreviousPage"]>
                @* @System.Web.HttpUtility.HtmlDecode(client.TranslateHtml(" *@Précédent@* ", targetLanguage, sourceLanguage).TranslatedText) *@
            </a>
        }
        <p>@ViewData["ActualPage"]</p>
        @if (ViewData["NextPage"] != null)
        {
            <a style="margin-left:1em" asp-controller="Home" asp-action="Index" asp-route-search=@ViewData["search"] asp-route-page=@ViewData["NextPage"]>
                
                @* @System.Web.HttpUtility.HtmlDecode(client.TranslateHtml(" *@Suivant@* ", targetLanguage, sourceLanguage).TranslatedText) *@
            </a>
        }
    </div>
}
else
{
    <div class="col-md-12" style="text-align:center">
        <h1>Aucun ou trop de résultat</h1>
    </div>
}
<script>
    var input = document.getElementById("search");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function (event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("searchButton").click();
        }
    });
</script>


